.starship-content {
    flex-grow: 1;
    padding: 30px;
}

.starship-content h1 {
    text-align: center;
}

.starship-content .lbl-value-pair label {
    font-size: 20px;
}

.starship-content div.lbl-value-pair label:first-child {
    font-weight: bold;
    font-size: 26px;
}

.starship-content .ship-metrics {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    border-top: 1px solid grey;
    padding-top: 15px;
}


.starship-content .ship-metrics > div {
    flex-basis: 100%;
    padding: 0 10px 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(1, 1, 1, 0.5);
}