.tab-control {
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

.tab-control ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 10px 10px 0 0;
}

.tab-control ul li {
    float: left;
}

.tab-control li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.tab-control li a:link {
    color: #FFE81F;
}

.tab-control li a:visited {
    color: #FFE81F;
}

.tab-control li a:hover {
    color: #FFE81F;
    background-color: #111111;
}

.tab-control li a:active {
    color: #FFE81F;
}

.tab-control li a.active {
    color: #FFE81F;
    background-color: #111111;
}

.tab-control .tab-content {
    border: 1px solid gray;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 0 0 10px 10px;
    height: 200px;
}